.App {
  background-color: skyblue;
  display: grid; 
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 80vh 20vh 20vh 20vh 20vh;
  /* margin-left: 5vw;
  margin-right: 5vw; */
  border: solid purple; 
}

.start-here-container{
  /* background-color: grey;
  background-blend-mode: color-dodge; */
  background-image: url(../public/imgs/cornucopia-david-galchutt.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  color: white;
  font-size: 4rem;
}

.basics-container{
  background-color: pink;
  display: flex;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
}

.macronutrients-container{
  background-color: lightgreen;
  display: flex;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
}

.micronutrients-container{
  background-color: lightsalmon;
  display: flex;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
}

.the-cell-container{
  background-color: lightslategray;
  display: flex;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
}

